{% extends "base.html" %}

{% block title %}
    | Phone Number Verification
{% endblock title %}


{% block content %}
    <div class="mb-3" style="border: 1px;">    
        <h2>Enter the code</h2>
        <form method='post'class='col-md-5'>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" style="background-color: orangered; border-color: orangered;">Verify</button>
        </form>
        <a href={% url 'accounts:register_resend_code' %} class="btn btn-info" >Send code again</a>
        
    <div>
{% endblock content %}